<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="d:\temp\nlog-internal.log">

  <targets>
	  <!--<target name="myLoggerTarget" xsi:type="File"
			 fileName="${basedir}/log/${shortdate}/${logger}.txt"
			 layout="${counter} | ${date} | 來源:${callsite} | 行數:${callsite-linenumber} | ${level:uppercase=true} | ${logger:shortName=true} 
              | ${message} ${newline}" encoding="utf-8"/>-->
	  <!--<target name="myDbLogger" xsi:type="Database" connectionStringName="shoppingBG" dbDatabase="ShoppingBG">
		  <commandText>insert into t_logTest(f_dataId, f_type, f_function) VALUES (@dataId, @type, @function);</commandText>
		  <parameter name="@dataId" layout="${event-properties:item = dataId}" />
		  <parameter name="@type" layout="${event-properties:item = type}" />
		  <parameter name="@function" layout="${event-properties:item = function}" />
	      <dbProvider>Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient</dbProvider>
	  </target>-->

	  <!--<target name="myLoggerTarget" xsi:type="File"
			fileName="${basedir}/log/${shortdate}/${logger}.txt"
			layout="${counter} | ${date} | 來源:${callsite=} | 行數:${callsite-linenumber} | ${level:uppercase=true} | ${logger:shortName=true} 
              | ${message} ${newline}" encoding="utf-8"/>
	  <target name="myDbLogger" xsi:type="Database" connectionStringName="Data Source=localhost; initial catalog=ShoppingBG;Integrated Security=true;">
		  <dbProvider>System.Data.SqlClient</dbProvider>
		  <commandText> INSERT INTO t_operationRecord(f_dataId, f_type, f_function, f_before, f_after) VALUES (@dataId, @type, @function, @before, @after);</commandText>
		  <parameter name="@dataId" layout="${event-properties:item = dataId}" />
		  <parameter name="@type" layout="${event-properties:item = type}" />
		  <parameter name="@function" layout="${event-properties:item = function}" />
		  <parameter name="@before" layout="${event-properties:item = before}" />
		  <parameter name="@after" layout="${event-properties:item = after}" />
	  </target>-->
	  
	  
	  <!--<target name="file" xsi:type="File"
			 fileName="${basedir}/log/${shortdate}/${logger}.txt"
			 layout="${counter} | ${date} | 來源:${callsite=} | 行數:${callsite-linenumber} | ${level:uppercase=true} | ${logger:shortName=true} 
              | ${message} " encoding="utf-8"/>-->
	  
	  <!--紀錄後端exception-->
	  <target name="backendLogger" xsi:type="File" fileName="${basedir}/log/${shortdate}/${logger}.txt"
		 layout="${date} | ${level:upperCase=true} | 使用者id: ${event-properties:item=userId} | 使用者ip: ${event-properties:item=userIp}${newline}來源: ${callsite} | 行數: ${callsite-linenumber}${newline}錯誤訊息: ${event-properties:item=errorMessage}" encoding="utf-8">
	  </target>
	  <!--紀錄前端訂單細項-->
	  <target name="orderAfterDB" xsi:type="File" fileName="${basedir}/log/${shortdate}/${logger}.txt"
		  layout="${date} | ${level:upperCase=true} | 使用者id: ${event-properties:item=userId}${newline} | 當地時間: ${event-properties:item=localTime} | 瀏覽器: ${event-properties:item=browser} | 裝置: ${event-properties:item=deviceOs}${newline}
		  來源: ${callsite} | 行數: ${callsite-linenumber}${newline}訂單號碼: ${event-properties:item=orderNo}${newline}產品id: ${event-properties:item=productId}
		  | 數量: ${event-properties:item=qtn} | 單價: ${event-properties:item=unitPrice}" encoding="utf-8">
	  </target>

	  <target name="fLogger" xsi:type="File" fileName="${basedir}/log/${shortdate}/${logger}.txt"	
		  layout="${date} | ${level:upperCase=true} | 使用者id: ${event-properties:item=userId}${newline} | 當地時間: ${event-properties:item=localTime} | 瀏覽器: ${event-properties:item=browser} | 裝置: ${event-properties:item=deviceOs}${newline}
	來源: ${event-properties:item=filename} | 列數: ${event-properties:item=row} | 行數: ${event-properties:item=col} | 錯誤訊息: ${event-properties:item=msg}" encoding="utf-8">	
	  </target>
	  
  </targets>

  <rules>

	  <logger name="myLogger" minlevel="Error" writeTo="backendLogger" />
	  <logger name="orderAfterDB" minlevel="Info" writeTo="orderAfterDB" />
	  <!--<logger name="orderBeforeDB" minlevel="Info" writeTo="orderBeforeDB" />-->
	  <logger name="fLogger" minlevel="Error" writeTo="fLogger" />

  </rules>
</nlog>