body {
    height: 100%;
}


tr:nth-child(even) {
    background: #FFF;
}

tr:nth-child(odd) {
    background: #F2FFFF;
}


.content {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.homePageLogo {
    display: block;
    width: 300px;
    height: 75px;
    margin: auto;
}

.pageHead {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.lastNameShown {
    margin-left: 5px;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.firstNameShown {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchBar {
    width: 500px;
    height: 50px;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    color: grey;
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.searchBlock {
    display: flex;
    width: 550px;
    height: 55px;
    outline: solid 1px grey;
    justify-content: flex-end;
    align-items: center;
}

.homePageSearch {
    width: 30px;
    margin-right: 1px;
}

.homePageCart {
    width: 30px;
}

.homePageUser {
    margin-right: 7px;
    width: 30px;
}

.productMessage {
    margin-top: 10px;
    color: grey;
    font-size: 30px;
}

.productContainer {
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.productInfo {
    width: 160px;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    text-align: center;
    float: left;
    word-break: break-all;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    color: grey;
}

.productTitle {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.productImg {
    width: 160PX;
    margin-top: 10px;
    height: 185px;
}

.shoppingLogo {
    width: 400px;
    height: 100px;
}

/*產品庫存數量示意圖片*/
.qtnImg {
width: 10px;
height: 10px;
}

/*設定價格字體粗體*/
.priceStyle {
    font-weight: bold;
}

/*給最小寬度320px*/
@media(min-width: 320px) {
    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .searchBar {
        width: 150px;
    }

    .searchBlock {     
        width: 185px;
        height: 30px;
    }

    .firstNameShown {
        width: 55px;
    }

    .lastNameShown {
        width: 55px;
    }
    .cartAndUserPic {
        display: flex;
        justify-content: flex-end;
    }   

    .homePageCart {
        width: 25px;
        height: 25px;
    }
    .homePageUser {
        width: 25px;
        height: 25px;
    }

    .memberName {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 120px;
    }

    .productContainer {
        margin-top: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media(min-width: 500px) {
    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-evenly;
    }
    .searchBar {
        width: 300px;
    }

    .searchBlock {
        width: 300px;
    }

    .homePageCart {
        width: 50px;
        height: 50px;
    }
    
    .homePageUser {
        width: 50px;
        height: 50px;        
    }
}

@media(min-width: 720px) {

    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-around;
    }

    .searchBar {
        width: 350px;
    }

    .searchBlock {
        width: 380px;
    }

    .productContainer {
        margin-top: 10px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .memberName {
        width: 250px;
    }

    .firstNameShown {
        width: 110px;
    }

    .lastNameShown {
        width: 110px;
    }
}


#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
}

#overlay1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.7);
}




