.loginBlock {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    flex-direction: column;
    width: 600px;
    max-height: 100%;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 2;
    overflow: auto;
}

.InputBlock {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pwdInputBlock {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.inputIdNo {
    width: 435px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.inputPwd {
    width: 435px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.btnLogin {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}


.btnLoginBlockCancel {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

@media(min-width: 320px) {
    .loginBlock {
        display: flex;
        width: 280px;
        height: 400px;
        align-items: center;
        font-size: 20px;
    }

    .shoppingLogo {
        width: 250px;
        height: 62.5px;
    }

    .inputBox {
        margin-top: 5px;
    }
    .inputBox label {
        width: 90px;
        float: left;
        text-align: right;
    }

    .inputBox input {
        width: 180px;
    }

}

@media(min-width: 500px) {

    .loginBlock {
        display: flex;
        width: 480px;
        height: 400px;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: center;
    }

    .inputBox {
        margin-top: 5px;
    }

    .inputBox label {
            width: 120px;
            float: left;
            text-align: right;
    }

    .inputBox input {
            width: 280px;
    }


    .shoppingLogo {
        width: 380px;
        height: 95px;
    }
}

@media(min-width: 720px) {
    
    .loginBlock {
        display: flex;
        width: 650px;
        height: 400px;
        align-items: center;
        justify-content: flex-start;
    }


    .inputBox {
        margin-top: 5px;
        display: flex;
        align-items: center;    
    }

    .inputBox label {            
        width: 220px;
        float: left;
        text-align: right;
        font-size: 30px;
    }
    .inputBox input {
        width: 350px;
    }
}

@media screen and (orientation: landscape) {
    .loginBlock {
        position: absolute;
    }
}
