/*.memberCenter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
}*/

.leaveMemberCenter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
}


.memberCenterTitle {
    margin-top: 20px;
}

.memberCenterlogo {
    margin-top: 130px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
}

.memberCenterlogoPic {
    width: 600px;
    height: 150px;
}

.functionContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.setBox {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setBox label {
    width: 150px;
    float: left;
    text-align: right;
}

.setBox input {
    padding: 1px;
}

.accountSetting {
    text-align: center;   
}

.setInputTel {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.setInputPwd {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;    
}

.memberCenter {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    width: 600px;
    height: 650px;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    z-index: 2;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.btnMemberBox {
    display: flex;
}

.btnMemberGroup {
/*    margin-left: 10px;
*/    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.settingBlock {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;    
}

.btnModifyPwd {
    width: 280px;
    height: 30px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
    padding: 1px;
}
 
.setLastNameBox {
    display: flex;
    align-items: center;    
}

.setFirstNameBox {
    display: flex;
    align-items: center;
}

.setInputLastName {
    width: 180px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.setInputFirstName {
    width: 180px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.emailBox {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row;
}

.setInputMail {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}


.setInputAddress {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.setInputBirth {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.setGender {
/*    margin-top: 10px;
*/}

.btnSettingGroup {
    display: flex;
}

.btnsettingConfirm {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.pwdModify {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    width: 450px;
    height: 250px;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    z-index: 3;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


.btnCancelContent {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
    margin-left: 20px;
}

@media(min-width: 320px) {

    .memberCenter {
        width: 280px;
    }

    .btnMemberBox {
        width: 270px;
    }

    .btnMemberGroup {
        margin: 5px;
        width: 100px;
        height: 58px;
        margin-top: 20px;
        border: solid 1px #26C6DA;
        background-color: #E0F7FA;
        font-size: 20px;
        color: #0277BD;
    }

    .memberCenterlogoPic {
        width: 280px;
        height: 70px;
    }

    .settingBlock {
        margin-top: 10px;
        width: 280px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .setBox label {
        width: 100px;
        float: left;
        text-align: right;
        font-size: 20px;
    }

    .btnModifyPwd {
        padding: 1px;
        width: 170px;
        height: 20px;
        font-size: 18px;
    }

    .chkSetGender {
        font-size: 20px;
        float: left;
        text-align: right;
        width: 100px;
    }

    .setGenderBox {
        display: flex;
        width: 260px;
        justify-content: space-around;
        align-items: center;
    }

    .setGenderInput {
        display: flex;
        width: 155px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    
    .setBox input {
        padding: 1px;
        width: 170px;
        height: 20px;
        font-size: 18px;
    }

    .SetGender {
        padding: 1px;
        width: 150px;
        height: 20px;
        font-size: 18px;
    }

    .genderLabel {
        width: 100px;
        float: left;
        text-align: right;
        font-size: 20px;
    }

    .pwdModify {
        width: 300px;
        height: 250px;
    }

    .pwdModifyBox {
        display: flex;
        align-items: center;    
    }

   .pwdModifyBox label {
        width: 160px;
        float: left;
        text-align: right;
        font-size: 20px;
   }

  .pwdModifyBox input {
        width: 120px;
        border: none;
        outline: solid 1px #00BCD4;
  }
}

@media(min-width: 500px) {

    .memberCenter {
        width: 450px;
    }

    .btnMemberBox {
        width: 440px;
    }

    .setBox label {
        width: 150px;
        float: left;
        text-align: right;
        font-size: 25px;
    }

    .setBox input {
        padding: 1px;
        width: 280px;
        height: 25px;
        font-size: 18px;
    }

    .btnModifyPwd {
        padding: 1px;
        width: 280px;
        height: 25px;
        font-size: 18px;
    }

    .setGenderInput {
        padding: 1px;
        width: 280px;
        height: 25px;
    }

    .genderLabel {
        width: 100px;
        float: left;
        text-align: right;
        font-size: 17px;
    }

    .chkSetGender {
        width: 150px;
        float: left;
        text-align: right;
        font-size: 25px;
    }

    .setGenderBox {
        display: flex;
        width: 432px;
        justify-content: space-around;
        align-items: center;
    }

    .memberCenterlogoPic {
        width: 400px;
        height: 100px;
    }

    .pwdModify {
        width: 420px;
        height: 300px;
    }

    .pwdModifyBox input {
        width: 200px;
        height: 25px;
        border: none;
        outline: solid 1px #00BCD4;
    }

    .pwdModifyBox label {
        width: 200px;
        float: left;
        text-align: right;
        font-size: 25px;
    }

    .pwdSetting {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media(min-width: 720px) {
    .memberCenter {
        height: 750px;
    }

    .pwdModifyBox label {
        width: 250px;
        float: left;
        text-align: right;
        font-size: 30px;
    }

    .pwdModifyBox input {
        width: 300px;
        height: 30px;
        border: none;
        outline: solid 1px #00BCD4;
    }

    .pwdModify {
        width: 600px;
        height: 350px;
    }

    .pwdSetting {
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .btnSettingGroup {
        margin-top: 20px;
    }

    .btnsettingConfirm {
        width: 100px;
        height: 50px;
    }

    .btnCancelContent {
        margin-left: 60px;
        width: 100px;
        height: 50px;
    }
}

@media screen and (orientation: landscape) {
    .memberCenter {
        position: absolute;
        top: 400px;        
    }
    .loginBlock {
        position: absolute;
    }
}
