.leaveMemberCenter {
    position: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.memberCenterTitle {
    margin-top: 20px;
}

.memberCenterlogo {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row;
}

.memberCenterlogoPic {
    width: 600px;
    height: 150px;
}

.functionContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.setBox {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setBox label {
    width: 150px;
    float: left;
    text-align: right;
}

.setBox input {
    padding: 1px;
}

.accountSetting {
    text-align: center;   
}

.setInputTel {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.setInputPwd {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;    
}

.memberCenter {
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    width: 600px;
    max-height: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    z-index: 2;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.btnMemberBox {
    display: flex;
}

.btnMemberGroup {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.btnMemberGroupPressed {
    width: 100px;
    height: 58px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #87CEFA;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.settingBlock {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.btnModifyPwd {
    width: 280px;
    height: 30px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
    padding: 1px;
}
 
.setLastNameBox {
    display: flex;
    align-items: center;    
}

.setFirstNameBox {
    display: flex;
    align-items: center;
}

.setInputLastName {
    width: 180px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.setInputFirstName {
    width: 180px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.setGenderInput {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-size: 20px;
}

.emailBox {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: row;
}

.setInputMail {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}


.setInputAddress {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.setInputBirth {
    width: 300px;
    height: 30px;
    border: none;
    outline: solid 1px #00BCD4;
    color: #03A9F4;
    font-size: 20px;
}

.btnSettingGroup {
    display: flex;
    margin-bottom: 20px;
}

.btnsettingConfirm {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.pwdModify {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    width: 450px;
    height: 250px;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    z-index: 4;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


.btnCancelContent {
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
    margin-left: 20px;
}

.productTable {
    font-size: 16px;
    width: 300px;
}

.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

    .productList td {
        align-items: center;
    }

.productTitleInCart {
    max-width: 100px;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.productTable th {
    width: 100px;
}

.itemQtnInCart {
    width: 20px;
}

.trashCanImg {
    width: 40%;
}

.totalBlock {
    display: flex;
}

.pointInputBlock {
    display: flex;
    align-items: center;
}

.pointsBlock {
    display: flex;
    align-items: center;
}

.inputPoint {
    width: 50px;
}

.balanceBlock {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    font-size: 20px;
}

.labelInCart {
    width: 160px;
    text-align: left;
}

.labelInCartShown {
    width: 58px;
}

.btnCart {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 15px;
    color: #0277BD;
}

@media(min-width: 320px) {

    .memberCenter {
        width: 340px;
    }

    .btnMemberBox {
        width: 270px;
    }

    .btnMemberGroup {
        margin: 5px;
        width: 100px;
        height: 58px;
        margin-top: 20px;
        border: solid 1px #26C6DA;    
        font-size: 20px;
   
    }

    .memberCenterlogoPic {
        width: 280px;
        height: 70px;
    }

    .settingBlock {
        margin-top: 10px;
        width: 280px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .setBox label {
        width: 100px;
        float: left;
        text-align: right;
        font-size: 20px;
    }

    .btnModifyPwd {
        padding: 1px;
        width: 170px;
        height: 20px;
        font-size: 18px;
    }

    .chkSetGender {
        font-size: 20px;
        float: left;
        text-align: right;
        width: 90px;
    }

    .setGenderBox {
        display: flex;
        width: 272px;
        justify-content: space-around;
        align-items: center;
    }
    
    .setBox input {
        padding: 1px;
        width: 170px;
        height: 20px;
        font-size: 18px;
    }

    .pwdModify {
        width: 300px;
        height: 250px;
    }

    .pwdModifyBox {
        display: flex;
        align-items: center;    
    }

   .pwdModifyBox label {
        width: 140px;
        float: left;
        text-align: right;
        font-size: 20px;
   }

  .pwdModifyBox input {
        width: 120px;
        border: none;
        outline: solid 1px #00BCD4;
  }

  .cartBlock {
        margin-top: 10px;
        width: 280px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
  }

  .shoppingLogo {
        width: 250px;
        height: 62.5px;
  }

  .productTable {
        width: 340px;
  }
}

@media(min-width: 500px) {

    .memberCenter {
        width: 450px;
    }

    .btnMemberBox {
        width: 440px;
    }

    .setBox label {
        width: 130px;
        float: left;
        text-align: right;
        font-size: 25px;
    }

    .setBox input {
        padding: 1px;
        width: 280px;
        height: 25px;
        font-size: 18px;
    }

    .btnModifyPwd {
        padding: 1px;
        width: 280px;
        height: 25px;
        font-size: 18px;
    }

    .setGenderInput {
        padding: 1px;
        width: 280px;
        height: 25px;
        font-size: 25px;
    }

    .chkSetGender {
        width: 130px;
        float: left;
        text-align: right;
        font-size: 25px;
    }

    .setGenderBox {
        display: flex;
        width: 412px;
        justify-content: space-around;
        align-items: center;
    }

    .memberCenterlogoPic {
        width: 400px;
        height: 100px;
    }

    .pwdModify {
        width: 420px;
        height: 250px;
    }

    .pwdModifyBox input {
        width: 200px;
        height: 25px;
        border: none;
        outline: solid 1px #00BCD4;
    }

    .pwdModifyBox label {
        width: 195px;
        float: left;
        text-align: right;
        font-size: 25px;
    }

    .pwdSetting {
        text-align: center;
        margin-bottom: 20px;
    }

    .cartBlock {
    }

    .shoppingLogo {
        width: 380px;
        height: 95px;
    }

    .productTable {
        width: 300px;
    } 
}

@media(min-width: 720px) {
    .memberCenter {
     /*   height: 750px;*/
    }

    .pwdModifyBox label {
        width: 250px;
        float: left;
        text-align: right;
        font-size: 30px;
    }

    .pwdModifyBox input {
        width: 300px;
        height: 30px;
        border: none;
        outline: solid 1px #00BCD4;
    }

    .pwdModify {
        width: 600px;
        height: 350px;
    }

    .pwdSetting {
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
    }

    .btnSettingGroup {
        margin-top: 20px;
    }

    .btnsettingConfirm {
        width: 100px;
        height: 50px;
    }

    .btnCancelContent {
        margin-left: 60px;
        width: 100px;
        height: 50px;
    }
    .cartBlock {
    }

    .productTable {
        width: 490px;
    }
}

@media screen and (orientation: landscape) {
    .memberCenter {
        position: fixed;
    }    
}
