.orderBlock {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    flex-direction: column;
    width: 600px;
    max-height: 100%;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 4;
    overflow: auto;
    overflow-x: hidden;
}

.labelInPreviewOrder {
    font-size: 20px;
    width: 160px;
    text-align: left;
}

.resultInPreviewOrder {
    text-align: right;
    font-size: 20px;
    width: 56px;
}

.btnOrder {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 15px;
    color: #0277BD;
}

/*.orderMessage {
    display: flex;
    padding-top: 30px;
    position: absolute;
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    flex-direction: column;
    width: 300px;
    max-height: 100%;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    align-items: center;
    flex-wrap: nowrap;
    z-index: 4;
    overflow: auto;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    top: 25%;

}*/

.orderMessage {
    display: flex;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    border: solid 1px black;
    font-size: 30px;
    color: #26C6DA;
    width: 600px;
    max-height: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
    z-index: 4;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden; 
}

.messageInPreviewOrder {
    text-align: center;
}

.productTitleInMessageBlock {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /*行數*/
    -webkit-box-orient: vertical;
    white-space: normal; /*多個空白會自動合併1個空白,超過欄位寬度部分自動判斷換行.*/
}

@media(min-width: 360px) {
    .orderMessage {
        width: 350px;
    }
    .messageInPreviewOrder {
        width: 350px;
    }
}

@media(min-width: 720px) {
    .orderBlock {
         width: 700px;
    }
    .orderMessage {
        width: 710px;
    }
}

@media screen and (orientation: landscape) {
    /*.orderMessage {
        display: flex;
        padding-top: 30px;
        position: absolute;
        border: solid 1px black;
        font-size: 30px;
        color: #26C6DA;
        flex-direction: column;
        width: 300px;
        max-height: 100%;
        background-color: white;
        box-shadow: 5px 5px 10px grey;
        align-items: center;
        flex-wrap: nowrap;
        z-index: 4;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }*/

    .orderBlock {
        width: 650px;
    }

    .productTable {
        width: 650px;
    }

    .orderMessage {
        display: flex;
        position: absolute;
        top: 15%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%);
        border: solid 1px black;
        font-size: 30px;
        color: #26C6DA;
        width: 650px;
        max-height: 100%;
        overflow: auto;
        background-color: white;
        box-shadow: 5px 5px 10px grey;
        z-index: 4;
        align-content: center;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }

}
