.homePageLogo {
    display: block;
    width: 300px;
    height: 75px;
    margin: auto;
}
.productPageContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.productInfoBlock {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    color: grey;
    margin-top: 20px;
}

.productImgInProductPage {
    margin: auto;
    width: 300px;
    height: 355px;
}

.productImgDiv {
    width: 300px;
    height: 355px;
}

.ProductInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

.productTitleInProductPage {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: bold;
}

.productPriceInProductPage {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.productQtnInProductPage {
    display: flex;
    margin-top: 15px;
    font-weight: bold;
}

.productDetailInProductPage {
    font-size: 20px;
    font-weight: bold;
}

.unitPricePic {
    width: 20px;
    height: 20px;
}

.qtnPic {
    width: 20px;
    height: 20px;
}

.detailContent {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
}

.btnProductPage {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.btnLastPage {
    width: 80px;
    height: 60px;
    margin-top: 50px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.messageBoxInProductPage {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 10px;
}

.productMessage {
    margin-top: 10px;
    color: grey;
    font-size: 20px;
}

.btnLastPageInMessageBox {
    width: 80px;
    height: 40px;
    margin-top: 20px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}

.btnAddToCart {
    margin-left: 15px;
    width: 80px;
    height: 60px;
    margin-top: 50px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 20px;
    color: #0277BD;
}


/*給最小寬度320px*/
@media(min-width: 320px) {
    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .searchBar {
        width: 150px;
    }

    .searchBlock {
        width: 185px;
        height: 30px;
    }

    .firstNameShown {
        width: 55px;
    }

    .lastNameShown {
        width: 55px;
    }

    .cartAndUserPic {
        display: flex;
        justify-content: flex-end;
    }

    .homePageCart {
        width: 25px;
        height: 25px;
    }

    .homePageUser {
        width: 25px;
        height: 25px;
    }

    .memberName {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 120px;
    }
}

@media(min-width: 500px) {
    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-evenly;
    }

    .searchBar {
        width: 300px;
    }

    .searchBlock {
        width: 300px;
    }

    .homePageCart {
        width: 50px;
        height: 50px;
    }

    .homePageUser {
        width: 50px;
        height: 50px;
    }
}

@media(min-width: 720px) {

    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-around;
    }

    .searchBar {
        width: 350px;
    }

    .searchBlock {
        width: 380px;
    }

    .memberName {
        width: 250px;
    }

    .firstNameShown {
        width: 110px;
    }

    .lastNameShown {
        width: 110px;
    }
}

