body {
    height: 100%;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.homePageLogo {  
    display: block;
    width: 300px;
    height: 75px;
    margin: auto;
}

.pageHead {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.lastNameShown {
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.firstNameShown {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchBar {
    width: 500px;
    height: 50px;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    color: grey;
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.searchBlock {
    display: flex;
    width: 550px;
    height: 55px;
    outline: solid 1px grey;
    justify-content: flex-end;
    align-items: center;
}

.homePageSearch {
    width: 30px;
    margin-right: 1px;
}

.homePageCart {
    width: 30px;
}

.homePageUser {
    margin-right: 7px;
    width: 30px;
}

.noProductMessage {
    margin-top: 10px;
    color: grey;
}

.productInfoBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 40px;
    color: grey;   
}

.productImgInProductPage {
    width: 675px;
    height: 800px;
}

.productImgDiv {
    width: 675px;
    height: 800px;
}

.ProductInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 675px;
}

.productTitleInProductPage {
    width: 675px;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 50px;
    font-weight: bold;
}

.productPriceInProductPage {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.productQtnInProductPage {
    display: flex;
    margin-top: 15px;
    font-weight: bold;
}

.productDetailInProductPage {
    font-size: 50px;
    font-weight: bold;
}

.unitPricePic {
    width: 50px;
    height: 50px;
}

.qtnPic {
    width: 50px;
    height: 50px;
}

.btnAddToCart {
    width: 300px;
    height: 100px;
    margin-top: 50px;
    border: solid 1px #26C6DA;
    background-color: #E0F7FA;
    font-size: 50px;
    color: #0277BD;
    transform: translate(50%);
}


/*給最小寬度320px*/
@media(min-width: 320px) {
    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .searchBar {
        width: 150px;
    }

    .searchBlock {
        width: 185px;
        height: 30px;
    }

    .firstNameShown {
        width: 55px;
    }

    .lastNameShown {
        width: 55px;
    }

    .cartAndUserPic {
        display: flex;
        justify-content: flex-end;
    }

    .homePageCart {
        width: 25px;
        height: 25px;
    }

    .homePageUser {
        width: 25px;
        height: 25px;
    }

    .memberName {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 120px;
    }
}

@media(min-width: 500px) {
    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-evenly;
    }

    .searchBar {
        width: 300px;
    }

    .searchBlock {
        width: 300px;
    }

    .homePageCart {
        width: 50px;
        height: 50px;
    }

    .homePageUser {
        width: 50px;
        height: 50px;
    }
}

@media(min-width: 720px) {

    .pageHead {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        align-items: center;
        justify-content: space-around;
    }

    .searchBar {
        width: 350px;
    }

    .searchBlock {
        width: 380px;
    }

    .memberName {
        width: 250px;
    }

    .firstNameShown {
        width: 110px;
    }

    .lastNameShown {
        width: 110px;
    }
}

